[GLOBAL]
CAPS_SERVER1     = cbmesas1
CAPS_SERVER2     = cbmesas2
CAPS_SERVER3     = cbmesas3
CAPS_SERVER4     = cbmesas4
CAPS_QUEUE       = -51
CAPS_STATION     = AFEOL_L21_S01


[EVAPROD]
EVAPROD_SERVER=eva
DISPLAY_MAX_HEIGHT 	= 900
TEST_LISTBOX_LINES 	= 1500
STATION_ID      	= SMR_EOL
STATION_NAME      = AFEOL_L21_S01
SEQ_MAX_SLOT = 200


[WIPMAMA]
WIP_SERVER		= WIP50_ADAS
MAMA_SERVER		= MAMA
STATION_GRP 		= AFEOL
STATION_ID 		= AFEOL_L21_S01
WPM_MAX_POSITIONS	= 1
WPM_RAWID_TYPE		= RAW
WPM_MAX_SLOT		= 200
MODE3REPEAT		= ALL


[CONTROLLER]
MODE			= 3
APP_ROOTDIR		= C:/APPROOT
AUTOSTART 		= Y

[SERGEN]
SERGEN_SERVER		= ser

[CARMA]
CARMA_SERVER		= CARMA    
#CARMA_BASE_QUEUE	= -51
LANGUAGE		= ENGLISH
BASEID			= CALAMBA


[PATHS]
TEMPLATE_FOLDER_PATH	= "P:\\SMR\\SRR3xx\\999_Auxillary_Files\\ApplicationSW"
TEMP_FILE_FOLDER_PATH	= "D:\\SMR_EOL"
ERRORLOG_PATH		= "X:\\"

[CONFIGURATION_OF_SW]
						# -> "Y" / "N"
TEST_PLAN_NAME_FOR_RESULT_FILE	= "SMR_NOISE"	
						# -> "SMR_NT" for <<Musterbau>> / "SMR_NOISE" for <<Production>>
[INTERFACE]
OPC			 = N
IO			 = Y